@font-face {
  font-family: 'iconfont';  /* project id 563113 */
  src: url('https://at.alicdn.com/t/font_563113_uerygdseiemte29.eot');
  src: url('https://at.alicdn.com/t/font_563113_uerygdseiemte29.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_563113_uerygdseiemte29.woff') format('woff'),
  url('https://at.alicdn.com/t/font_563113_uerygdseiemte29.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_563113_uerygdseiemte29.svg#iconfont') format('svg');
}



/* .head{
	width: 100%;
	height: 37px;
	background-color: #f5f5f5;
	position: relative;
}
.head_main{
	width: 1190px;
	height: 37px;
	margin: 0 auto;
	line-height: 37px;
}
.head_left_top{
	height: 37px;
	line-height: 37px;
	float: left;
	margin-left: 14px;
	cursor:pointer;
}
.head_left_top h1{
	font-size: 11px;
	line-height: 37px;
	color: #666666;
	float: left;
	cursor:pointer;
}
.head_fuhao{
	font-family: "自定义";
	color: #b0b0b0;
	font-size: 14px;
	float: left;
	margin-left: 4px;
}
.head_fuhao2{
	font-family: "自定义";
	color: #ff6700;
	font-size: 14px;
	float: left;
	margin-right: 6px;
}
.head_left_bottom{
	width: 100%;
	height: 200px;
	background-color: pink;
	position: absolute;
	left: 0;
	top: 37px;
	font-size: 100px;
	line-height: 200px;
	display: none;
	z-index: 999;
	transition: height 2s;
}


.head_right{
	float: right;
	line-height: 37px;
}
.head_right h1{
	font-size: 12px;
	line-height: 37px;
	color: #666666;
	float: left;
	margin-left: 18px;
	cursor:pointer;
}
.head_right h2{
	font-size: 12px;
	line-height: 37px;
	color: #ff6700;
	float: left;
	margin-left: 18px;
	cursor:pointer;
}
.head_right_aa{
	float: left;
}
.head_right_top h1{
	font-size: 12px;
	line-height: 37px;
	color: #666666;
	float: left;
	margin-left: 18px;
	cursor:pointer;
}
.head_right_top h3{
	font-size: 12px;
	line-height: 37px;
	color: #ff6700;
	float: left;
	margin-left: 8px;
	cursor:pointer;
}
.head_fuhao3{
	font-family: "自定义";
	color: #ff6700;
	font-size: 14px;
	float: left;
	margin-left: 15px;
}
.head_fuhao4{
	font-family: "自定义";
	color: #ff6700;
	font-size: 14px;
	float: left;
	margin-right: 4px;
}
.head_left1 h1:hover,.head_left2 h1:hover,.head_left3 h1:hover,
	.head_right h1:hover{
	color: #ff6700;
}
.head_right_bottom{
	width: 100%;
	height: 200px;
	background-color: pink;
	position: absolute;
	left: 0;
	top: 37px;
	font-size: 100px;
	line-height: 200px;
	display: none;
	z-index: 999;
	transition: height 2s;	
}
.head_left:hover .wz-box{
	display: block;
}
.wz-box{
	width: 998px;
	height: 242px;
	padding: 20px 0;;
	position: absolute;
	top: 35px;
	border: 1px solid #ddd;
	background: #fff;
	left: 0;
	z-index: 1000;
	display: none;
}
.sn-site-list {
	float: left;
	width: 176px;
	border-right: 1px solid #eee;
	padding-left: 20px;
	height: auto;
	line-height: 35px;
}
.sn-site-list dt {
	height: 25px;
	width: 100%;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	line-height: 17px;
}
.sn-site-list dd {
	width: 100%;
	overflow: hidden;
}
.sn-site-list dd p {
	float: left;
	height: 25px;
	width: 78px;
	line-height: 25px;
}
.sn-site-list dd a {
	position: relative;
	display: inline-block;
}
.sn-site-list dd a:hover{
	color: #ff6600;
}
.sn-site-list i.hot {
	background-position: 0 -205px;
}
.sn-site-list i {
	position: absolute;
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url("../img/npbg.png") no-repeat 0 -206px;
	left: auto;
	right: -18px;
	top: 0;
}
.wz-box .sn-site-list:nth-of-type(5){
	border-right: none;
}
a.ng-close {
	position: absolute;
	display: inline-block;
	width: 35px;
	color: #989898;
	right: 1px;
	top: 1px;
	transition: transform .2s ease-in;
}
a.ng-close em {
	font-size: 30px;
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
}
a.ng-close em:hover{
	color: #FF6600;
}
a.ng-close:hover em{
	transform: rotate(-180deg);
} */



header{
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #eee;
	background: #f5f5f5;
}
.header-box{
	width: 1190px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header-box a{
	font-size: 12px;
}
.header-left{
	width: 246px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.header-left-box{
	font-size: 12px;
	line-height: 35px;
	color: #333;
	padding: 0 7px;
}
.header-left-box:hover{
	background: #fff;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #fff;
}
.header-left-box a{
	color: #333;
	float: left;
	text-align: center;
}
/*网站导航*/
.wz{
	position: relative;
}
.wz:hover .wz-box{
	display: block;
}
.wz-box{
	width: 998px;
	height: 242px;
	padding: 20px 0;;
	position: absolute;
	top: 35px;
	border: 1px solid #ddd;
	background: #fff;
	left: 0;
	z-index: 1000;
	display: none;
}
.sn-site-list {
	float: left;
	width: 176px;
	border-right: 1px solid #eee;
	padding-left: 20px;
	height: auto;
	line-height: 35px;
}
.sn-site-list dt {
	height: 25px;
	width: 100%;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	line-height: 17px;
}
.sn-site-list dd {
	width: 100%;
	overflow: hidden;
}
.sn-site-list dd p {
	float: left;
	height: 25px;
	width: 78px;
	line-height: 25px;
}
.sn-site-list dd a {
	position: relative;
	display: inline-block;
}
.sn-site-list dd a:hover{
	color: #ff6600;
}
.sn-site-list i.hot {
	background-position: 0 -205px;
}
.sn-site-list i {
	position: absolute;
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url("../img/npbg.png") no-repeat 0 -206px;
	left: auto;
	right: -18px;
	top: 0;
}
.wz-box .sn-site-list:nth-of-type(5){
	border-right: none;
}
a.ng-close {
	position: absolute;
	display: inline-block;
	width: 35px;
	color: #989898;
	right: 1px;
	top: 1px;
	transition: transform .2s ease-in;
}
a.ng-close em {
	font-size: 30px;
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
}
a.ng-close em:hover{
	color: #FF6600;
}
a.ng-close:hover em{
	transform: rotate(-180deg);
}
/*网站结束*/
/*入驻开始*/
.rz{
	position: relative;
}
.rz-box{
	width: 162px;
	padding-top: 5px;
	left: 0;
	right: auto;
	padding-bottom: 5px;
	position: absolute;
	top: 35px;
	border: 1px solid #ddd;
	background: #fff;
	display: none;
	z-index: 9999;
}
.rz:hover .rz-box{
	display: block;
}
.rz-box a,.fw-box a{
	height: 28px;
	line-height: 28px;
	width: 71px;
	float: left;
	color: #666;
}
.rz-box a:hover,.fw-box a:hover{
	color: #FF6600;
}
/*入驻结束*/
/*服务开始*/
.fw{
	position: relative;
}
.fw-box{
	width: 162px;
	padding-top: 5px;
	left: auto;
	right: 0;
	padding-bottom: 5px;
	position: absolute;
	top: 35px;
	border: 1px solid #ddd;
	background: #fff;
	display: none;
}
.fw:hover .fw-box{
	display: block;
}
/*服务结束*/
/*订单开始*/
.dd{
	position: relative;
}
.dd-box{
	width: 79px;
	padding-bottom: 5px;
	position: absolute;
	top: 35px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #fff;
	background: #fff;
	left: 0;
	display: none;
}
.dd:hover .dd-box{
	display: block;
}
.dd-box a{
	display: block;
	height: 30px;
	line-height: 30px;
	width: 71px;
	color: #666;
	padding-left: 10px;
	float: left;
	text-align: left;
}
.dd-box a:hover{
	color: #FF6600;
}
/*订单结束*/
/*易购开始*/
.yg{
	position: relative;
}
.yg a:nth-of-type(1):hover{
	color: #ff6600;
}
.yg-box{
	width: 162px;
	padding-bottom: 5px;
	position: absolute;
	top: 35px;
	border: 1px solid #ddd;
	background: #fff;
	left: 0;
	z-index: 1000;
	display: none;
}
.yg:hover .yg-box{
	display: block;
}
.yg-img{
	width: 142px;
	height: 56px;
	margin: 5px 10px;
}
.yg-img span{
	float: left;
	width: 54px;
	height: 54px;
	border: 1px solid #f7f7f7;
	padding: 0;
	display: block;
}
.yg-img span img{
	display: block;
	width: 54px;
	height: 54px;
}
.yg-login{
	float: left;
	width: 86px;
	height: 56px;
}
.yg-login a{
	height: 28px;
	overflow: hidden;
	display: block;
	line-height: 28px;
	padding: 0 0 0 5px;
	width: 64px;
	color: #666;
	border: none;
	margin-left: 9px;
}
.yg-login a:hover{
	color: #ff6600;
}
.yg-login .click{
	height: 22px;
	text-align: center;
	color: #FFF!important;
	text-decoration: none;
	background: #F60;
	border-radius: 4px;
	display: block;
	margin-left: 20px;
	line-height: 22px;
	padding: 0;
	width: 64px;
	word-break: break-all;
}
.yg-box a{
	display: block;
	height: 30px;
	line-height: 30px;
	width: 71px;
	color: #666;
	padding-left: 10px;
	text-align: left;
}
.yg-box a:hover{
	color: #ff6600;
}
/*易购结束*/
/*购物开始*/
.gw{
	position: relative;
}
.gw-box{
	width: 280px;
	height: 400px;
	background: #fff;
	/*overflow: hidden;*/
	padding-bottom: 0;
	font: 12px/1.5 arial,tahoma,\5b8b\4f53;
	position: absolute;
	top: 35px;
	border: 1px solid #ddd;
	left: 0;
	z-index: 1000;
	display: none;
}
.gw:hover .gw-box{
	display: block;
}
.cart-box{
	width: 100%;
	height: 400px;
}
.car-img{
	display: block;
	width: 150px;
	height: 96px;
	margin: 120px auto 0;
	background: url("../img/sidebar.png") no-repeat 0 -291px;
}
.cart-box p{
	font-size: 14px;
	color: #bbb;
	margin-top: 10px;
	text-align: center;
}
.cart-box p:nth-of-type(2){
	margin-top: 20px;
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	color: #BBBBBB;
	font-weight: 100;
}
.car-botton{
	width: 68px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #fff;
	background: #f60;
	margin:0 auto;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
}

/*手机苏宁开始*/
.sj{
	position: relative;
}
.sj:hover .sj-box{
	display: block;
}
.sj-box{
	position: absolute;
	top: 35px;
	border: 1px solid #ddd;
	background: #fff;
	right: 0;
	width: 540px;
	height: 220px;
	z-index: 1000;
	display: none;
}
.sj-box ul{
	width: 100%;
	height: 100%;
}
.sj-box ul li{
	float: left;
	width: 180px;
	margin: 17px 0 0;
}
.sj-box ul li img{
	display: block;
	width: 147px;
	height: 147px;
	margin: 0 auto 10px;
}
.sj-box ul li p{
	width: 180px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	text-align: center;
	color: #666;
	font-size: 12px;
	margin-bottom: 5px;
}
.sj-box ul li img:nth-of-type(2){
	display: block;
	width: 151px;
	height: 16px;
	margin: 5px 14px;
}
.line{
	position: absolute;
	top: 42px;
	left: 179px;
	width: 1px;
	height: 97px;
	background: #DEDEDE;
}
.lineTwo{
	left: 359px;
}
/*手机苏宁结束*/
.header-left-box:nth-child(2) a:hover{
	color: #FF6600;
}
.header-left-box .iconfont{
	transition:0.4s;
	font-size: 12px;
	display: block;
	line-height: 35px;
	margin-left: 5px;
	float: left;
	text-align: center;
}
.header-left-box:hover .iconfont{
	transform: rotate(-180deg);
	transition: all .2s;
}
.header-right{
	width: 647px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.header-right-box{
	font-size: 12px;
	color: #333;
	line-height: 35px;
	float: left;
	padding: 0 5px;
}
.header-right-box a{
	color: #333;
}
.header-right-box a:hover{
	color: #ff6600;
}
.header-right-box a:nth-child(2){
	color: #ff6600;
	margin-left: 10px;
}
.sj:hover a{
	color: #ff6600;
}
.header-left-box .car{
	margin-left: 7px;
	color: #ff6600;
}














.nav{
	width: 1190px;
	height:110px;
	margin: 0 auto;
}
.nav img{
	width: 190px;
	height:90px;
	float: left;	
}
.nav2{
	width: 160px;
	height:100px;
	float: left;	
}
.nav3{
	width: 540px;
	height:110px;
	float: left;
	margin-left: 30px;
}
.nav3_top{
	margin-top: 30px;
	height: 36px;
	width: 538px;
	border: 2px solid #ff6700;
	line-height: 36px;
}
.nav3_top1{
	font-family: "自定义";
	color: #d9d2cf;
	font-size: 13px;
	float: left;
	margin-left: 9px;
}
.nav3_top1{
	font-family: "自定义";
	color: #d9d2cf;
	font-size: 13px;
	float: left;
	margin-left: 9px;
}
.nav3_top2{
	font-size: 6px;
	line-height: 36px;
	color: #d9d2cf;
	float: left;
	margin-left: 6px;
}
.nav3_top3{
	width: 120px;
	height:36px;
	line-height: 36px;
	text-align: center;
	background-color: #ff6700;
	font-size: 12px;
	color: #fff;
	float: right;
	cursor: pointer;
}
.nav_bottom{
	width: 540px;
	height:11px;
	float: left;
	margin-top: 9px;
}
.nav_bottom h1{
	font-size: 11px;
	line-height: 11px;
	color: #999999;
	float: left;
	cursor: pointer;
}
.nav_line{
	width: 1px;
	height: 12px;
	background-color: #423d39;
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	line-height: 36px;
}
.nav4{	
	height:110px;
	float: right;
	margin-top: 15px;
}
.nav4 img{
	width: 80px;
	height: 80px;
}
.nav_bottom h1:hover{
	color: #ff6700;
}













.banner_top{
	width: 1190px;
	height:38px;
	margin: 0 auto;
}
.banner_topleft{
	width: 190px;
	height: 38px;
	background-color: #ff6700;
	line-height: 38px;
	float: left;
}
.banner_topleft1{
	font-family: "自定义";
	color: #fff;
	font-size: 14px;
	float: left;
	margin-left: 9px;
	width: 27px;
	cursor: pointer;
}
.banner_topleft h1{
	color: #fff;
	font-size: 12px;
	margin-left: 6px;
	cursor: pointer;
}
.banner_topmain{
	width: 800px;
	height: 38px;
	line-height: 38px;
	float: left;
	margin-left: 10px;
}
.banner_topmain h1{
	font-size: 15px;
	line-height: 13px;
	color: #040404;
	float: left;
	margin-left: 12.5px;
	margin-right: 12.5px;
	line-height: 38px;
	cursor: pointer;
}
/* .banner_topright {
	width: 170px;
	height: 37px;
	line-height: 38px;
	float: right;
} */
.banner_topmain h1:hover{
	color: #ff6700;
}





















.banner_bottom{
	width: 100%;
	height: 440px;
}
.banner_bottommain{
	width: 1190px;
	height:440px;
	margin: 0 auto;
	position: relative;
}
.banner_bottommain1{
	width: 188px;
	height: 440px;
	background-color: #252221;
	float: left;
}
.banner_bottommain1a{
	width: 188px;
	height: 31px;
	float: left;
}
.banner_title1{
	font-family: "自定义";
	height: 31px;
	font-size: 14px;
	color: #ff6700;
	margin-left: 4px;
	margin-right: 6px;
	float: left;
}
.banner_title3{
	float: left;
}
.banner_title{
	height: 31px;
	font-size: 11px;
	line-height: 31px;
	color: #fff;
}
.banner_title2{
	height: 31px;
	font-size: 9px;
	line-height: 31px;
	color: #fff;
}





.banner_bottommain2{
	width: 830px;
	height: 440px;
	float: left;
	position: relative;
}
.banner_img{
	width: 830px;
	height: 440px;
	position: relative;
	cursor: pointer;
}
.banner_img li{
	width: 830px;
	height: 440px;
	position: absolute;
	top: 0;
	left: 0;
}
.banner_img img{
	width: 830px;
	height: 440px;
}
.banner_img .active{
	 z-index:99;
	 opacity: 1;
 }


.btn_box{
	width: 200px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	bottom: 10px;
	z-index: 999;
	display: flex;
	justify-content: space-around;
}
.btn_box li{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #eee;
	cursor: pointer;
	border: 1px solid #ccc;
}
.btn_box li.active{
	 background: #f60;
}
.btn_box li:last-child{
	margin-right: 0px;
}

.banner_btn1{
	width: 41px;
	height: 69px;
	/* background-color: red; */
	text-align: center;
	line-height: 69px;
	color: #b0b0b0;
	font-size:50px;
	position: absolute; 
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	color: #afafb1;
	cursor: pointer;
	left: 0px;
	z-index: 999;
}
.banner_btn2{
	width: 41px;
	height: 69px;
	/* background-color: red; */
	text-align: center;
	line-height: 69px;
	color: #b0b0b0;
	font-size:50px;
	position: absolute; 
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	color: #afafb1;
	cursor: pointer;
	right: 0;
	z-index: 999;
}
.banner_btn1:hover{
	background: rgba(0, 0, 0, 0.2)
}
.banner_btn2:hover{
	background: rgba(0, 0, 0, 0.2)
}








.banner_xinxi{
	width: 170px;
	height: 440px;
	float: left;
	text-align: center;
}
.banner_xinxi_user{
	width: 170px;
	height: 163px;
	border-top: 5px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}

.banner_xinxi_user img{
	width: 52px;
	height: 52px;
	padding: 10px 59px;
}
.banner_xinxi_user img:hover{
	cursor: pointer;
}
.banner_xinxi_user h1{
	font-size: 12px;
}
.banner_xinxi_kuang{
	width: 170px;
	height: 22px;
	margin-top: 10px;
}
.kuang1{
	width: 68px;
	height: 20px;
	border: 1px solid #ff9900;
	margin-left: 10px;
	float: left;
}
.kuang1:hover{
	cursor: pointer;
}
.kuang1 h1{
	color: #ff9900;
	font-size: 12px;
	line-height: 20px;
}
.kuang2{
	width: 68px;
	height: 20px;
	background-color: #ffdeac;
	border: 1px solid #FFCB7F;
	margin-left: 10px;
	float: left;
}
.kuang2:hover{
	cursor: pointer;
}
.kuang2 h1{
	color: #B18143;
	font-size: 12px;
	line-height: 20px;
}
.banner_xinxi_kuang2{
	width: 170px;
	height: 22px;
	margin-top: 12px;
	line-height: 22px;
}
.kuang3{
	width: 75px;
	height: 26px;
	margin-left: 10px;
	float: left;
}
.kuang3:hover{
	cursor: pointer;
}
.kuang3 span{
	font-family: 'iconfont';
	font-size: 14px;
	float: left;
	line-height: 26px;
	margin-right: 2px;
	color: #30C2FC;
}
.kuang3 h1{
	font-size: 12px;
	float: left;
	line-height: 26px;
}
.kuang3 h1:hover{
	color: #ff9900;
}
.banner_xinxi_liuyan{
	width: 146px;
	height: 40px;
	margin: 0 auto;
	margin-top: 16px;
}
.banner_xinxi_liuyan a{
	font-size: 12px;
	color: #ff9900;
	float: left;
}
.banner_xinxi_liuyan p{
	font-size: 12px;
	float: left;
}
.banner_xinxi_liuyan:hover.banner_xinxi_liuyan p{
	color: #ff9900;
}
.munu_list{
	width: 170px;
	height: 140px;
	margin-top: 14px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 5px solid #f2f2f2;
}
.hezi{
	width: 56px;
	height: 60px;
	padding-top: 12px;
	text-align: center;
	float: left;
}
.hezi:hover{
	cursor: pointer;
}
.hezi span{
	font-family: 'iconfont';
	font-size: 20px;
	margin-bottom: 10px;
	color: #FF9900;
}
.hezi h1{
	font-size: 12px;
}
.hezi:hover.hezi h1{
	color: #ff6600;
}





/* .banner_title:hover{
	color: #fea900;
}
.banner_bottommain1a:hover{
	background-color: #ffffff;
}
.banner_bottommain1a:hover banner_title3{
	color: black;
} */
.banner_bottommain1a:hover{
	background: #fff;
	color: #333;
	border-top: 1px solid #382526;
}



.item-box{
	position: absolute;
	left: 188px;
	min-height: 438px;
	width: 1000px;
	overflow: hidden;
	background: #FFF;
	z-index: 7676;
	top: 0;
	border: 1px solid #382526;
	border-left: none;
	display: none;
}
.luobo-neikuan-left .xianshi{
	display: block;
}
.sort-btn{
	float: left;
	height: 24px;
	margin: 10px 0 0 8px;
	overflow: hidden;
	width: 686px;
}
.item-box .sort-btn a{
	display: block;
	float: left;
	height: 24px;
	font-size: 12px;
	margin-left: 25px;
	padding: 0 10px;
	color: #FFF;
	line-height: 24px;
	text-align: center;
	background: #F90;
	text-decoration: none;
	font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.item-box .sort-btn a:hover{
	background: #f80;
}
.cate-list{
	margin: 10px 0 0 0;
	padding-left: 20px;
	float: left;
	width: 780px;
}
.cate-list dl{
	float: left;
	height: auto;
	margin-bottom: 8px;
	overflow: hidden;
	width: 750px;
}
.cate-list dl dt{
	float: left;
	width: 84px;
	height: 20px;
	line-height: 20px;
	font-weight: 700;
	padding-left: 10px;
	padding-top: 4px;
}
.cate-list dl dt a {
	display: block;
	width: 84px;
	height: 20px;
	text-decoration: none;
	color: #333;
	font-size: 12px;
}
.cate-list dl dt a:hover{
	color: #f60;
}
.cate-list dl dd{
	float: left;
	width: 650px;
	font: 12px/1.5 arial,tahoma,\5b8b\4f53;
	line-height: 20px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	margin-top: 4px;
	padding-bottom: 8px;
}
.cate-list dl dd .active{
	color: #f60!important;
}
.cate-list dl dd a{
	color: #666!important;
	margin-right: 15px;
	display: inline-block;
	font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
	text-decoration: none;
	font-size: 12px;
}
.cate-list dl dd a:hover{
	color: #f60!important;
}
.actShow {
	position: absolute;
	right: 0;
	top: 0;
	width: 199px;
	height: 100%;
	overflow: hidden;
	background: #f3f3f3;
}
.actShow .brandList {
	width: 182px;
	margin: 10px 0 0 8px;
}
.actShow .brandList a {
	float: left;
	width: 90px;
	height: 38px;
	margin: 0 1px 1px 0;
	padding-top: 7px;
	background: #FFF;
}
.actShow .brandList img {
	width: 80px;
	height: 30px;
	margin: 0 auto;
}
.actShow .actList {
	width: 180px;
	margin: 11px 0 0 8px;
}
.actShow .actList img {
	float: left;
	width: 180px;
	height: 100px;
	margin-bottom: 5px;
	overflow: hidden;
}















.neirong{
	width: 100%;
	background-color: #F2F2F2;
}
.gouwu_biaoti{
	width: 1190px;
	height: 150px;
	margin: 0 auto;
}
.gouwu_biaoti img{
	width: 100%;
	height: 100%;
}
.gouwu_biaoti img:hover{
	cursor: pointer;
}
.gouwu_fenlei{
	width: 1190px;
	height: 190px;
	margin: 0 auto;
	background-color:#FE1129; 
	padding-bottom: 10px;
}
.gouwu_fenlei_img1{
	width: 230px;
	height: 190px;
	float: left;
	margin-right: 10px
}
.gouwu_fenlei_img1:hover{
	cursor: pointer;

}
.gouwu_fenlei_img2{
	width: 230px;
	height: 190px;
	float: left;
	margin-right: 0;
}
.jiuhui_title{
	width: 1194px;
	height: 45px;
	margin: 0 auto;
	padding-top: 20px;

}
.jiuhui_title_left{
	width: 190px;
	height: 45px;
	float: left;
	color: #fff;
	background-color: #DD2726;
}
.jiuhui_title_left h1{
	font-size: 20px;
	float: left;
	line-height: 45px;
	margin-left: 16px;
}
.jiuhui_title_left h2{
	font-size: 12px;
	float: left;
	line-height: 45px;
	margin-left: 8px;
}
.jiuhui_title_right{
	width: 116px;
	height: 24px;
	border-radius: 12px;
	float: right;
	color: #fff;
	margin-top: 11px;
	background-color: #DD2726;
}
.jiuhui_title_right:hover{
	cursor: pointer;
}
.jiuhui_title_right h1{
	font-size: 12px;
	margin-left: 14px;
	float: left;
	line-height: 24px;
}
.juhui_neirong{
	width: 1194px;
	height: 260px;
	margin: 0 auto;
	background-color: #fff;
	border-top: 2px solid #DD2726;
	position: relative;
}
.juhui_neirong_aaa{
	width: 995px;
	height: 260px;
	position: relative;
	overflow: hidden;
	transition: all 1s;
	/* margin-left: -1000px; */
}
.juhui_neirong_a{
	width: 5000px;
	height: 260px;
}
.juhui_neirong_btn1,.juhui_neirong_btn2{
	width: 30px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #eeeeee;
	opacity: 0;
}
.juhui_neirong_btn1{
	left:0 ;
}

.juhui_neirong_btn2{
	right:0 ;
}
.juhui_neirong:hover .juhui_neirong_btn1{
	opacity: 1;
}
.juhui_neirong:hover .juhui_neirong_btn2{
	opacity: 1;
}
.juhui_neirong_btn1:hover,.juhui_neirong_btn2:hover{
	cursor: pointer;
	color: #838383;
}
.juhui_neirong_item{
	width: 199px;
	height: 240px;
	padding-top: 20px;
	float: left;
}
.juhui_neirong_item img{
	width: 160px;

	display: block;
	margin: 0 auto;
}
.juhui_neirong_item img:hover{
	cursor: pointer;
}
.juhui_neirong_item_jieshao{
	width: 160px;
	height: 36px;
	margin: 0 auto;
	margin-top: 6px;
	margin-bottom: 6px;
	color: #474747;
}
.juhui_neirong_item_jieshao:hover{
	color: #ff6600;
	cursor: pointer;
}
.juhui_neirong_item_jieshao p{
	height:  32px;
	font-size: 12px;
	overflow: hidden;
}
.juhui_neirong_item_jieshao h1{
	font-family: "icpnfont";
	font-size: 12px;
}
.juhui_neirong_item_jiage h1{
	font-family: 'iconfont';
	font-size: 16px;
	margin-left: 20px;
	color: #ff6600;
	float: left;
}
.juhui_neirong_item_jiage p{
	font-family: 'iconfont';
	font-size: 16px;
	margin-left: 20px;
	color: #999999;
	text-decoration:line-through;
	float: left;
}
.juhui_neirong_item_jiage{
	cursor: pointer;
}
.aa{
	position: absolute;
	top: 0;
	right: 0;
}
.juhui_tiao{
	width: 1px;
	height: 140px;
	margin-top: 20px;
	background-color: #eeeeee;
	float: left;
}
.juhui_neirong_tu{
	width: 180px;
	height: 240px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
.juhui_neirong_tu img{
	width: 100%;
	height: 100%;
}
.fenlei{
	width: 1190px;
	height: 427px;
	margin: 0 auto;
	margin-top: 20px;
	
}
.fenlei_item{
	width: 390px;
	height: 427px;
	background-color: #FFFFFF;
	float: left;
}
.fenlei_item_title{
	width: 370px;
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
	margin-bottom: 10px;
	background-color: #3B8C94;
}
.fenlei_item_title h1{
	font-size: 18px;
	float: left;
}
.fenlei_item_title h2{
	font-size: 12px;
	float: right;
}
.fenlei_item_kuang{
	width: 162px;
	height: 77px;
	padding: 20px 0 20px 20px;
	border-bottom: 1px solid #E7E7E7;
	float: left;
}
.fenlei_item_kuang:hover{
	cursor: pointer;
}
.fenlei_item_left{
	width: 50%;
	float: left;
}
.fenlei_item_left h1{
	width: 72px;
	height: 40px;
	font-size: 14px;
	color: #333;
}
.fenlei_item_left h2{
	font-size: 12px;
	float: none;
	color: #999999;
	margin-top: 10px;
}
.fenlei_item_left a{
	color: #3B8CB0;
}
.fenlei_item_right{
	width: 80px;
	height:80px;
	float:right ;
	margin-top:10px;
}
.fenlei_item_kuang img{
	width: 100%;
	
}
.fenlei_item_kuang1{
	border-right: 1px solid #E7E7E7;
	margin-left: 10px;
}
.fenlei_item_kuang2{
	border-bottom:0;
}
.fenlei_item1{
	margin-left: 10px;
}
.fenlei_item_title1{
	background-color: #E66A07;
}
.fenlei_item_title2{
	background-color: #B62323;
}
.tese_item_kuang{
	width: 184px;
	height: 180px;
	margin-left: 10px;
	float: left;
	border-bottom: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7; 
}
.tese_item_kuang:hover{
	cursor: pointer;
}
.tese_item_kuang_title {
	display: inline-block;/* 行内块级元素 */
	width: auto;
    height:auto;
    margin: 10px 0 8px 8px;
	border-radius: 10px;
	background-color: #E66A07;
	
}
.tese_item_kuang_title h1{
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	margin: 0 10px 0 10px;
}
.tese_item_kuang h2{
	font-size: 12px;
	margin-left: 18px;
	color: #999999;
}
.tese_item_kuang img{
	width: 90px;
	height: 90px;
	float: left;
	margin-top: 25px;
}
.tese_item_kuang1{
	border-right: 0;
	margin-left: 0;
}
.tese_item_kuang2{
	border-bottom: 0;
}
.paihang_item_kuang{
	width: 369px;
	height: 142px;
	margin-left: 10px;
	border-bottom: 1px solid #E7E7E7; 
}
.paihang_item_kuang_title {
	display: inline-block;/* 行内块级元素 */
	width: auto;
    height:auto;
    margin: 10px 0 8px 8px;
	border-radius: 10px;
	background-color: #B62323;
	
}
.paihang_item_kuang_title:hover {
	cursor: pointer;
}
.paihang_item_kuang_title h1{
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	margin: 0 10px 0 10px;
}
.paihang_item_kuang_neirong{
	width: 123px;
	height: 134px;
	float: left;
}
.paihang_item_kuang_neirong:hover{
	cursor: pointer;
}

.paihang_item_kuang_neirong img{
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
}
.paihang_item_kuang_neirong p{
	width: 90px;
	height: 30px;
	font-size: 12px;
	margin-left: 10px;
	overflow: hidden;
}
.paihang_item_kuang_neirong h2{
	font-family: 'iconfont';
	font-size: 12px;
	margin-left: 10px;
	color: #B62323;
}
.paihang_item_kuang1{
	border-bottom: 0;
}
.temai_item_kuang{
	width: 162px;
	height: 215px;
	padding: 20px 0 0px 15px;
	border-bottom: 1px solid #E7E7E7;
	float: left;
	overflow: hidden;

}
.temai_item_kuang:hover{
	cursor: pointer;
}
.temai_item_kuang p{
	font-size: 14px;
}
.temai_item_kuang h1{
	font-size: 12px;
	margin-top: 10px;
	color: #C43D7E;
}
.temai_item_kuang img{
	width: 160px;
	height: 160px;
	margin-top: 10px;
}
.fenlei_item_title4{
	background-color: #C43D7E;
}
.fenlei_item5,.fenlei_item6{
	margin-left: 10px;
}
.fenlei_item_title5{
	background-color: #6D55BD;
	
}
.temai_item_kuang5 h1{
	color: #6D55BD;
}
.fenlei_item_title6{
	background-color: #325BB5;
}
.temai_item_kuang6 h1{
	color: #325BB5;
}
.tupian{
	width: 1190px;
	height: 530px;
	margin: 0 auto;
	margin-top: 20px;
}
.tupian_left{
	width: 800px;
	height: 530px;
	float: left;
}
.tupian_left_tu{
	width: 360px;
	height: 170px;
	background-color: #E89621;
	padding-left: 30px;
	float: left;
	margin-right: 10px;
	background-image: -webkit- linear-gradient(90deg,#E89621,#F5C568);
	background-image: -moz- linear-gradient(90deg,#E89621,#F5C568);
	background-image: -o- linear-gradient(90deg,#E89621,#F5C568);
	background-image:repeating-linear-gradient(90deg,#E89621,#F5C568);
}
.tupian_left_tu:hover{
	cursor: pointer;
}
.tupian_tu_zi{
	float: left;
}
.tupian_tiao1{
	width: 80px;
	height: 2px;
	background-image: -webkit- linear-gradient(90deg,#E89621,#F5C568);
	background-image: -moz- linear-gradient(90deg,#E89621,#F5C568);
	background-image: -o- linear-gradient(90deg,#E89621,#F5C568);
	background-image:repeating-linear-gradient(90deg,#fff,rgba(255, 255, 255, 0.1));
	margin-top: 44px;
}
.tupian_left_tu h1{
	font-size: 20px;
	line-height: 36px;
	color: #fff;
}
.tupian_tiao2{
	width: 150px;
	height: 2px;
	background-image: -webkit- linear-gradient(90deg,#E89621,#F5C568);
	background-image: -moz- linear-gradient(90deg,#E89621,#F5C568);
	background-image: -o- linear-gradient(90deg,#E89621,#F5C568);
	background-image:repeating-linear-gradient(90deg,#fff,rgba(255, 255, 255, 0.1));
}
.tupian_left_tu h2{
	font-size: 14px;
	line-height: 30px;
	color: #fff;
}
.tupian_tu_tu{
	float: right;
	margin-right: 20px;
}
.tupian_left_tu img{
	width: 170px;
	height: 170px;
	transition:all 0.3s linear;
}
.tupian_left_tu img:hover{
	transform:translate(-10px, 0px) ;
}
.tupian_left_tu2{
	background-image: -webkit- linear-gradient(90deg,#335CB5,#4C9AFE);
	background-image: -moz- linear-gradient(90deg,#335CB5,#4C9AFE);
	background-image: -o- linear-gradient(90deg,#335CB5,#4C9AFE);
	background-image:repeating-linear-gradient(90deg,#335CB5,#4C9AFE);
}
.tupian_left_tu3{
	margin-top: 10px;
	background-image: -webkit- linear-gradient(90deg,#1C9DAF,#40CDA7);
	background-image: -moz- linear-gradient(90deg,#1C9DAF,#40CDA7);
	background-image: -o- linear-gradient(90deg,#1C9DAF,#40CDA7);
	background-image:repeating-linear-gradient(90deg,#1C9DAF,#40CDA7);
}
.tupian_left_tu4{
	margin-top: 10px;
	background-image: -webkit- linear-gradient(90deg,#D13837,#DF6D4F);
	background-image: -moz- linear-gradient(90deg,#D13837,#DF6D4F);
	background-image: -o- linear-gradient(90deg,#D13837,#DF6D4F);
	background-image:repeating-linear-gradient(90deg,#D13837,#DF6D4F);
}
.tupian_left_tu5{
	margin-top: 10px;
	background-image: -webkit- linear-gradient(90deg,#CA4384,#EB74CE);
	background-image: -moz- linear-gradient(90deg,#CA4384,#EB74CE);
	background-image: -o- linear-gradient(90deg,#CA4384,#EB74CE);
	background-image:repeating-linear-gradient(90deg,#CA4384,#EB74CE);
}
.tupian_left_tu6{
	margin-top: 10px;
	background-image: -webkit- linear-gradient(90deg,#5D40C1,#8C5FDB);
	background-image: -moz- linear-gradient(90deg,#5D40C1,#8C5FDB);
	background-image: -o- linear-gradient(90deg,#5D40C1,#8C5FDB);
	background-image:repeating-linear-gradient(90deg,#5D40C1,#8C5FDB);
}
.tupian_right{
	width: 390px;
	height: 100%;
	float: left;
}
.tupian_right_title{
	width: 390px;
	height: 45px;
	background-color: #3F3435;
}
.tupian_right_title h1{
	font-size: 20px;
	color: #fff;
	margin-left: 14px;
	line-height: 45px
}
.tupian_right_shipin{
	width: 390px;
	height: 227px;
	position: relative;
}
.tupian_right_shipin:hover{
	cursor: pointer;
}
.tupian_right_shipin img{
	width: 100%;
	height: 100%;
}

.tupian_right_shipin_bofang{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
	position:absolute;
	top: 80px;
	left: 170px;
	color: #fff;
}
.tupian_right_shipin_bofang:hover{
	border: 1px solid #ff9900;
	color: #ff9900;
}
.tupian_right_shipin_bofang h1{
	font-family: 'iconfont';
	font-size: 20px;
	margin-left: 16px;
	line-height: 50px;
}
.tupian_right_shipin_wenzi{
	width: 320px;
	height: 45px;
	padding: 0 35px;
	background-color: rgba(0, 0, 0, 0.5);
	position:absolute;
	bottom: 0;
	color: #fff;
	line-height: 45px;
	font-size: 12px;
}

.tupian_right_tu{
	width: 128px;
	height: 73px;
	margin-top: 5px;
	position: relative;
	float: left;
}

.tupian_right_tu2{
	margin-left: 3px;
}
.tupian_right_tu:hover{
	cursor: pointer;
}
.tupian_right_tu img{
	width: 100%;
	height: 100%;
}
.tupian_right_tu_bofang{
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 1);
	border: 1px solid #fff;
	position:absolute;
	top: 18px;
	left: 50px;
	color: #fff;
}
.tupian_right_tu_bofang:hover{
	border: 1px solid #ff9900;
	color: #ff9900;
}
.tupian_right_tu_bofang h1{
	font-family: 'iconfont';
	font-size: 12px;
	margin-left: 8px;
	line-height: 24px;
}
.tupian_right_tu_wenzi{
	width: 112px;
	height: 20px;
	padding: 0 8px;
	position:absolute;
	bottom: 0;
	color: #fff;
	line-height: 20px;
	font-size: 12px;
	overflow: hidden;/*超出不显示*/
	text-overflow: ellipsis;/*文本超出以省略号显示*/
	white-space: nowrap;/*显示单行文本 */
	
}
.tupian_right_fangkuai{
	width: 190px;
	height: 150px;
	padding-top: 20px;
	background-image: -webkit- linear-gradient(90deg,#6FA266,#9FC766);
	background-image: -moz- linear-gradient(90deg,#6FA266,#9FC766);
	background-image: -o- linear-gradient(90deg,#6FA266,#9FC766);
	background-image:repeating-linear-gradient(90deg,#6FA266,#9FC766);
	float: left;
	margin-top: 10px;
	text-align: center;
}
.tupian_right_fangkuai2{
	background-image: -webkit- linear-gradient(90deg,#4023BB,#5871E9);
	background-image: -moz- linear-gradient(90deg,#4023BB,#5871E9);
	background-image: -o- linear-gradient(90deg,#4023BB,#5871E9);
	background-image:repeating-linear-gradient(90deg,#4023BB,#5871E9);
	margin-left: 10px;
}
.tupian_right_fangkuai:hover{
	cursor: pointer;
}
.tupian_right_fangkuai h1{
	font-size: 20px;
}
.tupian_right_fangkuai h2{
	font-size: 12px;
	line-height: 24px;
}
.tupian_right_fangkuai img{
	height: 100px;	
	transition:all 0.3s linear;
}
.tupian_right_fangkuai img:hover{
	transform:translate(-10px, 0px) ;
}



.tupian2{
	width: 1190px;
	height: 100px;
	margin: 0 auto;
	margin-top : 20px;
}
.tupian2 img{
	width: 396px;
	height: 100px;
	float: left;
}
.tupian2 img:hover{
	cursor: pointer
}
.remen{
	width: 1190px;
	height: 567px;
	margin: 0 auto;
	margin-top: 20px;
}
.remen_left{
	width: 590px;
	height: 567px;
	background-color: #fff;
	float: left;
}
.remen_title{
	width: 590px;
	height: 45px;
	background-color: #F0F7F4;
	border-top: 2px solid #33AE75;
	
}
.remen_title_biaoti{
	width: 174px;
	height: 45px;
	background-color: #33AE75;
	padding-left: 16px;
	font-family: 'iconfont';
	font-size: 18px;
	color: #fff;
	line-height: 45px;
	float: left;
}
.remen_title h1{
	font-size: 12px;
	margin-right: 18px;
	line-height: 45px;
	color: #666666;
	float: right;
}
.remen_title h1:hover{
	cursor: pointer;
	color: #ff9900;
}
.renmen_neirong{
	width: 590px;
	height: 360px;
	background-color: #fff;
}
.renmen_neirong_left{
	width: 190px;
	height: 360px;
	float: left;

}
.renmen_neirong_left{
	cursor: pointer;
}
.renmen_neirong_left_tu{
	width: 190px;
	height: 270px;
}
.renmen_neirong_left_tu img{
	width: 190px;
	height: 270px;
}
.renmen_neirong_left_zi{
	width: 176px;
	height: 70px;
	padding-left: 14px;
	padding-top: 20px;
	background-color: #81C7A1;
	color: #fff;
}
.renmen_neirong_left_zi h1{
	font-size: 18px;
}
.renmen_neirong_left_zi h2{
	font-size: 12px;
	margin-top: 10px;
}
.remen_neirong_item{
	width: 199px;
	height: 179px;
	float: left;
	text-align: center;
	border-bottom: 1px solid #F2F2F2;
	border-left: 1px solid #F2F2F2;
}
.remen_neirong_item:hover{
	cursor: pointer;
}


.remen_neirong_item h1{
	font-size: 14px;
	margin-top: 10px;
}
.remen_neirong_item h2{
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 2px;
	color: #33AE75;
}
.remen_neirong_item img{
	width: 120px;
	height: 120px;
	transition:all 0.3s linear;
}
.remen_neirong_item img:hover{
	transform:scale(1.1, 1.1);
}
.remen_item{
	width: 189px;
	height:109px;
	border-bottom: 1px solid #f2f2f2;
	border-right:  1px solid #f2f2f2;
	float: left;
}
.remen_item:hover{
	cursor: pointer;
}
.remen_item1{
	width: 199px;
}
.remen_item2{
	width: 199px;
	border-right: 0;
}
.remen_item_zi{
	float: left;
	margin-top:30px;
	margin-left: 15px;
}
.remen_item_zi h1{
	font-size: 14px;
	color: #333333;
}
.remen_item_zi h2{
	font-size: 12px;
	line-height: 20px;
	color: #33AE75;
}
.remen_item img{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	transition:all 0.3s linear;
}
.remen_item img:hover{
	transform:scale(1.1, 1.1);
}
.remen_guanggao{
	width: 590px;
	height: 50px;
	float: left;
}
.remen_guanggao_tu{
	width: 80px;
	height: 30px;
	margin: 10px 9px;
	float: left;
}
.remen_guanggao_tu:hover{
	cursor: pointer;
}
.remen_guanggao_tu img{
	width: 80px;
	height: 30px;

}
.remen_left1{
	margin-left: 10px;
}
.remen_title1{
	background-color: #ECF5F5;
	border-top: 2px solid #2EABA3;
}
.remen_title_biaoti1{
	background-color: #2EABA3;
}
.renmen_neirong_left_zi1{
	background-color: #206A6B;
}
.remen_neirong_item1 h2{
	color: #2EABA3;
}
.remen_item_zi11 h2{
	color: #2EABA3;
}
.remen_title_jiayong{
	width: 1190px;
	background-color: #EFF0F8;
	border-top: 2px solid #5F6CB7;
}
.renmen_neirong1{
	float: left;
}
.jiadian{
	width: 1190px;
	height: 457px;
	margin: 0 auto;
	margin-top: 20px;
}
.jiayong_neirong{
	width: 600px;
	height: 360px;
	background-color: #fff;
}
.jiayong_neirong_left{
	width: 190px;
	height: 360px;
	float: left;
}
.jiayong_neirong_left img{
	width: 190px;
	height: 360px;
}
.jiadian_guanggao{
	width:1190px;
	height: 50px;
	background-color: #fff;
	float: left;
}
.remen_title_biaoti_jiayong{
	background-color: #5F6CB7;
}
.renmen_neirong_left_zi_dianqi{
	background-color: #9596B8;
}
.remen_neirong_item_dianqi h2{
	color: #5F6CB7;
}
.remen_title_zhineng{
	background-color: #EFF7FB;
	border-top: 2px solid #3299CC;
}
.remen_title_biaoti_zhineng{
	background-color: #3299CC;
}
.renmen_neirong_left_zi_zhineng{
	background-color: #5B6FDA;
}
.remen_neirong_item_zhineng h2{
	color: #3299CC;
}
.remen_item_zi_zhineng h2{
	color: #3299CC;
}
.remen_title_qiche{
	background-color: #ECF5F5;
	border-top: 2px solid #558CCF;
}
.remen_title_biaoti_qiche{
	background-color: #558CCF;
}
.renmen_neirong_left_zi_zhineng{
	background-color: #53739C;
}
.remen_neirong_item_qiche h2{
	color: #558CCF;
}
.remen_item_zi_qiche h2{
	color: #558CCF;
}
.remen_title_shenghuo{
	background-color: #FBF3EE;
	border-top: 2px solid #C96B2C;
}
.remen_title_biaoti_shenghuo{
	background-color: #C96B2C;
}
.renmen_neirong_left_zi_shenghuo{
	background-color: #DB986A;
}
.remen_neirong_item_shenghuo h2{
	color: #C96B2C;
}
.remen_title_jiancai{
	background-color: #FBF3EE;
	border-top: 2px solid #B15641;
}
.remen_title_biaoti_jiancai{
	background-color: #B15641;
}
.renmen_neirong_left_zi_jiancai{
	background-color: #CD9585;
}
.remen_neirong_item_jiancai h2{
	color: #B15641;
}
.remen_title_meiwei{
	background-color: #FDF4ED;
	border-top: 2px solid #E96F1E;
}
.remen_title_biaoti_meiwei{
	background-color: #E96F1E;
}
.renmen_neirong_left_zi_meiwei{
	background-color: #EF5122;
}
.remen_neirong_item_meiwei h2{
	color: #E96F1E;
}
.remen_title_meng{
	background-color: #FDF1F1;
	border-top: 2px solid #E87272;
}
.remen_title_biaoti_meng{
	background-color: #E87272;
}
.renmen_neirong_left_zi_meng{
	background-color: #F1AAAA;
}
.remen_neirong_item_meng h2{
	color: #E87272;
}
.remen_title_zhuang{
	background-color: #FDEFF3;
	border-top: 2px solid #E7658C;
}
.remen_title_biaoti_zhuang{
	background-color: #E7658C;
}
.renmen_neirong_left_zi_zhuang{
	background-color: #8D4162;
}
.remen_neirong_item_zhuang h2{
	color: #E7658C;
}
.remen_title_peishi{
	background-color: #F7F3F6;
	border-top: 2px solid #9A6392;
}
.remen_title_biaoti_peishi{
	background-color: #9A6392;
}
.renmen_neirong_left_zi_peishi{
	background-color: #9F89B0;
}
.remen_neirong_item_peishi h2{
	color: #9A6392;
}
.remen_title_huwai{
	background-color: #F4F3F7;
	border-top: 2px solid #76639A;
}
.remen_title_biaoti_huwai{
	background-color: #76639A;
}
.renmen_neirong_left_zi_huwai{
	background-color: #ADA1C2;
}
.remen_neirong_item_huwai h2{
	color: #76639A;
}
.remen_title_jinrong{
	background-color: #F9F5ED;
	border-top: 2px solid #B87B1B;
}
.remen_title_biaoti_jinrong{
	background-color: #B87B1B;
}
.renmen_neirong_left_zi_jinrong{
	background-color: #D4B076;
}
.remen_neirong_item_jinrong h2{
	color: #B87B1B;
}
.remen_title_yuedu{
	background-color: #F8F3F0;
	border-top: 2px solid #A16B46;
}
.remen_title_biaoti_yuedu{
	background-color: #A16B46;
}
.renmen_neirong_left_zi_huwai{
	background-color: #C0A28E;
}
.remen_neirong_item_yuedu h2{
	color: #A16B46;
}


.biqiang{
	width: 1190px;
	height: 385px;
	margin: 0 auto;
	margin-top: 20px;
}
.biqiang_qingdan{
	width: 590px;
	height: 385px;
	float: left;
	background-color: #fff;
}
.qingdan_title{
	width: 570px;
	height: 46px;
	background-color: #FFAA01;
	padding: 0 10px;
}
.qingdan_title h1{
	font-size: 18px;
	line-height: 46px;
	float: left;
	color: #fff;
}
.qingdan_title h2{
	font-size: 2px;
	line-height: 46px;
	float: right;
	color: #fff;
	cursor: pointer;
}
.qingdan_title h2:hover{
	cursor: pointer;
}
.qingdan_item{
	width: 270px;
	height: 134px;
	margin-top: 25px;
	margin-left: 20px;
	background-color: #fff;
	float: left;
}
.qingdan_item h1{
	font-size: 12px;
}
.qingdan_item h1:hover{
	color: #ff6600;
	cursor: pointer;
}
.qingdan_dise{
	display: inline-block;/* 行内块级元素 */
	width: auto;
    height:auto;
	background-color: #FE9B00;
	font-size: 12px;
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #fff;
	cursor: pointer;
}
.qingdan_item h2{
	width: 200px;
	height: 18px;
	font-size: 12px;
	overflow: hidden;
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #999999;
	cursor: pointer;
}
.qingdan_item img{
	width: 85px;
	height: 85px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}
.biqiang_qingdan1{
	margin-left: 10px;
}
.biqiang_item{
	width: 160px;
	height: 273px;
	margin-top: 30px;
	margin-left: 28px;
	float: left;
}
.biqiang_item img{
	width: 160px;
	height: 160px;
}
.biqiang_item p{
	font-size: 12px;
	height: 32px;
	overflow: hidden;
	margin-top: 20px;
}
.biqiang_item_zi{
	width: 160px;
	height: 20px;
	background-color: #FF9900;
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}
.biqiang_item h1{
	font-size: 12px;
	margin-top: 10px;
	float: left;
	color: #999999;
}
.biqiang_item h2{
	font-size: 12px;
	margin-top: 10px;
	float: right;
	color: #999999;
}
.like{
	width: 1190px;
	margin: 0 auto;
	margin-top: 20px;
}
.like_title{
	height: 20px;
	margin-bottom: 10px;
}

.like_title_tiao{
	width: 3px;
	height: 20px;
	float: left;
	background-color: #FE9901;
}
.like_title h1{
	font-size: 18px;
	line-height: 20px;
	margin-left: 14px;
	float: left;
}
.like_neirong{
	background-color: #fff;
	height: 680px;
}
.like_neirong_item{
	background-color: #fff;
	width: 201px;
	height: 340px;
	border-bottom:  1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	padding: 0 18px;
	float: left;
	cursor: pointer;
}
.like_neirong_item img{
	width: 200px;
	height: 200px;
	margin-top: 20px;
}
.like_neirong_item_zi{
	font-size: 12px;
	height: 40px;
	overflow: hidden;
	margin-top: 18px;
	margin-bottom: 8px;
}
.xihuan_dise{
	width: 28px;
	height:18px;
	border: 1px solid #FF6600;
	border-radius: 3px;
	
	float: left;
	color: #FF6600;
}
.xihuan_dise h2{
	margin-left: 2px;
	font-size: 12px;
	line-height: 16px;
}
.like_neirong_item h1{
	font-family: 'iconfont';
	font-size: 14px;
	color: #ff6600;
}
.like_neirong_item h3:{
	font-size: 12px;
}
.like_neirong_item h3:hover{
	color: #ff6600;
}
.like_neirong_item_gou{
	display: inline-block;/* 行内块级元素 */
	width: auto;
    height:auto;
	background-color: #ff4400;
	font-size: 12px;
	color: #fff;
	border-radius: 3px;
	margin-top: 8px;
}
.end{
	width: 1190px;
	height: 64px;
	margin: 0 auto;

}
.end h1{
	line-height: 64px;
	text-align: center;
	font-size: 14px;
	color: #ccccce;
}
.foot{
	height: 279px;
	background-color: #f5f5f5;
	border-top: 1px solid #E7E7E7;
}
.foot_baozheng{
	width: 1190px;
	height: 70px;
	padding: 14px 0;
	margin: 0 auto;
}
.foot_baozheng_item{
	width: 238px;
	float: left;
}
.foot_baozheng_item img{
	width: 48px;
	height: 48px;
	float: left;
	cursor: pointer;
}
.foot_baozheng_item_zi{
	margin-left: 10px;
	height: 48px;
	float: left;
}
.foot_baozheng_item_zi h1{
	font-size: 14px;
	line-height: 24px;
}
.foot_baozheng_item_zi h1:hover{
	color: #ff6600;
	cursor: pointer;
}
.foot_baozheng_item_zi h2{
	font-size: 12px;
	line-height: 24px;
}
.foot_fuwu{
	height: 180px;
	width: 1190px;
	margin: 0 auto;
	border-top: 1px solid #eeeeee;
	padding-left: 
}
.foot_fuwu_item{
	width: 210px;
	float: left;
}
.foot_fuwu_item1{
	width: 140px;
}
.foot_fuwu_item h1{
	margin-top: 5px;
	font-size: 14px;
	line-height: 36px;
}
.foot_fuwu_item h2{
	font-size: 12px;
	line-height: 22px;
}
.foot_fuwu_item h2:hover{
	color: #ff6600;
	cursor: pointer;
}
.banquan{
	height: 155px;
	padding-top: 20px;
}
.banquan1{
	width: 599px;
	height: 25px;
	margin: 0 auto;
}
.banquan1 a{
	font-size: 12px;
	float: left;
	line-height: 25px;
	text-align: center;
	color: #666666;
	cursor: pointer;
}
.banquan1_tiao{
	width: 1px;
	height: 12px;
	background-color: #BA9797;
	float: left;
	margin: 6.5px 10px;
}
.banquan2{
	width: 760px;
}
.banquan3{
	height: 25px;
	width: 800px;
}
.banquan3 a{
	color: #999999;
}
.banquan4{
	width: 765px;
}

.banquan5{
	width: 620px;
}
.banquan6{
	width: 344px;
	height: 25px;
	margin: 0 auto;
}
.banquan6 img{
	width: 76px;
	height: 24px;
	margin-right: 10px;
	float: left;
}

















aside{
	width: 70px;
	position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    right: auto;
    margin-left: -670px;
    margin-top: -159.5px;
    display: block;
}
.aside-nei-tu{
	position: absolute;
	left: 13px;
    top: -29px;
    z-index: 99;
	width: 45px;
	height: 37px;
	background: url('../img/tupianjingling.png')-302px -80px;
}
.aside-nei{
	width: 70px;
	padding-top: 20px;
	background: #f8f8f8;
	border: 1px solid #e8e8e8;
	position: relative;
	display: none;
}
.aside-nr .active a{
	background: #f60;
	color: #fff;
}
.aside-nr li:hover a{
	background: #f60;
	color: #fff;
	cursor: pointer;
}
.aside-nr li{
	width: 68px;
    height: 28px;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    border-bottom: 1px solid #e8e8e8;
}
.aside-nr li a{
	display: block;
	font-size: 12px;
	color: #000;
}
.aside-nr{
	width: 68px;
    background: #f8f8f8;
}
.aside-di-1{
	display: block;
    width: 68px;
    height: 18px;
    background: url('../img/tupianjingling.png') -230px -183px;
}
.topbar{
	width: 100%;
	height: 50px;
	background: #fff;
	position: fixed;
	top:-50px;
	left:0;
	transition: all .5s;
	z-index: 99;
}
.top-main{
	width: 1190px;
	height: 50px;
	/*background: red;*/
	margin:auto;
}

.fenleis{
	width: 163px;
	height: 38px;
	background: #f90;
	float: left;
	margin-top: 6px;
	padding-left:27px;
	line-height: 38px;
	color:#fff;
	font-size: 13px;
}
.fenleis i{
	line-height: 38px;
	font-size: 12px;
}
.sss{
	display: block;
	width: 540px;
	height: 40px;
	margin:5px 0 5px 200px;
	float: left;
}
.login{
	width: 36px;
	display: block;
	font-size: 12px;
	line-height: 50px;
	color: #333;
	float: left;
	margin-left: 50px;
	cursor: pointer;
}
.login:hover{
	color: #ff6600;
}
.zc{
	float: left;
	color: #ff6600;
	font-size: 12px;
	line-height: 50px;
	padding-left: 12px;
}
.car-box{
	float: left;
	margin-left: 23px;
	cursor: pointer;
	width: 90px;
	height: 50px;
	text-align: center;
	line-height: 47px;
}
.car-box a , .car-box i{
	font-size: 12px;
	color: #ff6600;
}
.car-box i{
	font-size: 12px;
	color: #999;
}
.car-box:hover i{
	transform: rotate(-180deg);
	transition: all .2s;
}
